doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		block title
			title default title

		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/media.css")



	body
		div.page
			div.content
				block content

		script(src="assets/js/lib/jquery-3.1.1.min.js")
		script(src="assets/js/main.js")
